section{
	@include grid-row();
}

#pets{
	// margin-top: 150px;
	li{
		list-style-type: none;
		float: left;
		border: solid 1px red;
		width: 250px;
		height: 400px;
		margin-left: 15px;

		@include grid-col(2.5);

		@include breakpoint(1240px down) {

			@include grid-col(3);
			margin-left: 40px;
		}

		@include breakpoint(970px down) {
			@include grid-col(9);		
		}

		img{
			width: 100%;
			min-height: 200px;
			max-height: 200px;
			object-fit: cover;

			@include breakpoint(970px down) {
				@include grid-col(6);
			}
		}

		h1{
			font-family: $bold;
			text-align: center;
			color: $primary-color;
			font-size: 26px;
			padding-top: 10px;
			display: block;
		}
		h2{
			font-family: $regular;
			font-size: 16px;
			float: left;
			width: 50%;
			padding-top: 10px;
			color: $primary-color;

			span{
				color: black;
			}
		}

	}
}