header{
	width: 100vw;
	min-height: 100vh;
	max-height: 1035px;
	height: auto;
	background: url("/img/header-background@1920x-100.jpg") no-repeat center $primary-color;
	font-family: $bold;
	margin-bottom: 100px;
	
	nav{
		height: 100px;
		padding-top: 10px;
		margin-bottom: 100px;


		span{
			display: none;
		}

		ul{
			@include grid-row();

			li{
				display: inline-block;
				padding-left: 120px;
				padding-top: 10px;
				color: white;

				a{
					text-transform: uppercase;
				}
			}
		}

		@include breakpoint(1200px down) {
			span{
				display: block;
				margin-bottom: 10px;
				div {
				    width: 35px;
				    height: 5px;
				    background-color: white;
				    margin: 6px 0;
				    margin-left: 20px;
				}
			}
			ul{
				display: none;
				background: $primary-color;
				width: 100%;
				height: auto;
				position: relative;
				z-index: 999;
				li{
					display: block;
					margin-bottom: 20px;
					padding: 20px;

					&:hover{
						background: black;
					}
				}
			}
		}
		
	}

	#logo{
		width: 230px;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;

		@include breakpoint(1200px down) {
			
		}

	}

	form{

		@include grid-row();

		input, select{
			border-radius: 7px;	
			height: 40px;
			margin-left: 20px;
			margin-bottom: 20px;
			background: none;
			color: white;
			border: solid 1px white;

		}
		input:-webkit-autofill{
			background: $primary-color;
		}
		input[type='submit']{
		 	@include grid-col(2);
			background: white;
			color: black;
		}
		select{
			appearance: none;
		}
		#gender{
			@include grid-col(2);
		}
		#location{
			padding-left: 15px;
    		box-sizing: border-box;
		}

		#type, #location{
			@include grid-col(2);
		}

		#breed{
			@include grid-col(3);	
			float: none !important;	
		}

		@include breakpoint(1240px down) {
		 	
		 	margin-left: 3%;

			#breed,#type, #location, #gender{
				@include grid-col(5.5);
			}
			#location, #type{
				clear: both;
			}
			input[type='submit']{
				float: none !important;	
				@include grid-col(11.2);
				margin-bottom: 150px;
			}
		}

		@include breakpoint(785px down) {

			margin-left: 0;		
			#type, #location, #gender, #breed, input[type='submit']{
				@include grid-col(11);
			}
		}
	}

	p{
		font-family: $light;
		color: white;
		text-align: center;
		font-size: 28px;
		margin-bottom: 70px;

		@include breakpoint(450px down) {
			
			margin-bottom: 30px;
			padding: 10px;
		}
	}
}