header{
	width: 100vw;
	height: 100vh;
	background: url("/img/header-background@1920x-100.jpg") no-repeat center $primary-color;
	font-family: $bold;
	margin-bottom: 100px;
	
	nav{

		height: 100px;
		padding-top: 10px;
		margin-left: 3%;
		margin-bottom: 100px;

		ul{
			width: 80%;
			margin: 0 auto;
			li{
				display: inline-block;
				margin-left: 10%;
				padding-top: 10px;
				color: white;

				a{
					text-transform: uppercase;
				}
			}
		}
	}

	#logo{
		width: 230px;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	form{

		@include grid-row();

		border: solid 1px red;

		input, select{
			border-radius: 7px;	
			height: 40px;
			margin-left: 13px;
			margin-bottom: 20px;
			background: none;
			color: white;
			border: solid 1px white;

		}
		input:-webkit-autofill{
			background: $primary-color;
		}
		input[type='submit']{
		 	@include grid-col(2);
			background: white;
			color: black;
		}
		select{
			appearance: none;
		}
		#gender{
			@include grid-col(2);
		}

		#type, #location{
			@include grid-col(2);
		}

		#breed{
			@include grid-col(3);	
			float: none !important;	
		}

		@include breakpoint(1240px down) {

			margin-left: 5%;
			margin-right: 5%;

			#breed,#type, #location, #gender{
				@include grid-col(5.5);
			}
			#location, #type{
				clear: both;
			}
			input[type='submit']{
				float: none !important;	
				@include grid-col(11.5);
			}
		}

		@include breakpoint(785px down) {		
			#type, #location, #gender, #breed, input[type='submit']{
				@include grid-col(11);
			}
		}

	}

	p{
		font-family: $light;
		color: white;
		text-align: center;
		font-size: 28px;
		margin-bottom: 70px;
	}
}