// Colors
$primary-color:   #B23A63;
$secondary-color: #24D39F;
$tertiary-color:  #24A7C4;


// Fonts
$quicksanddash: quicksanddash;
$bold: quicksandbold;
$bold-italic: quicksandbold_italic;
$italic: quicksanditalic;
$light: quicksandlight;
$light_italic: quicksandlight_italic;
$regular: quicksandregular;


